@font-face{
    font-family: Ngaan;
    src: url(./font/I.Ngaan.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
    box-sizing: border-box;
}

nav{
    display: grid;
    grid-template-columns: 30% 30% 40%;
    padding: 30px;
    position:fixed;
    top:0;
    background-color: rgba(0,0,0,0.5);
    color: white;
    width: 100%;
}

#logo{
    text-align: right;
}

#logo span{
    font-family: Ngaan;
    font-size: 36px;
    font-weight: 600;
}

#na{
    display: grid;
    grid-template-columns: repeat(3,150px);
    align-items: center;
    text-align: center;
}

#na a{
    text-decoration:none;
    color: rgb(206, 134, 39);
    font-size: 20px;
    transition: 0.3s;
}

#na a:hover{
    color: white;
    font-size: 24px;
}

#banner{
    background-image: url(./img/max-oh-OQwjPYTeaiw-unsplash.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
    display: grid;
    color: white;
    align-items: center;
    text-align: center;
}

#banner div{
    width: 600px;
    margin: 0 auto;
}

#banner div h1,#banner div h4{
    font-family: Ngaan;
}

#banner div h1{
    font-size: 120px;
    text-shadow: 0 5px 5px rgba(0,0,0,0.5);
}

#banner div h4{
    font-size: 30px;
    text-align: left;
}

section{
    width: 1200px;
    margin: 20px auto;
}

section h1{
    font-family: Ngaan;
    margin-top: 60px;
    font-size: 32px;
}

section hr{
    margin-bottom: 40px;
}

#about > div{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 30px;
}

#img{
    background-image: url(./img/photo-1519984388953-d2406bc725e1.jpg);
    height: 400px;
    background-size: cover;
    background-position: 0 0;
    box-shadow: 5px 10px 7px rgba(0, 0, 0, 0.5);
}

#about > div p{
    padding-right: 30px;
    line-height: 50px;
}

#news{
    position: relative;
}

#news ul{
    display: grid;
    grid-template-columns: 30% 70%;
    list-style: none;
}

#news span{
    color: gray;
}

#news ul li{
    padding: 10px 0px;
    font-size: 20px;
}

#news > a{
    position: absolute;
    right: 10px;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

#news > a:hover{
    color: rgb(206, 134, 39);
}

#contant p{
    width: 90%;
    text-align: center;
    line-height: 3;
    margin: 0px auto;
}

form{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

form div{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 20px;
}

input{
    height: 40px;
    border: 1px solid black;
}

textarea{
    grid-column: 1/3;
    border: 1px solid black;
    height: 250px;
}

::placeholder{
    text-align: center;
    font-size: 16px;
}

#submit{
    margin-top: 20px;
    width: 200px;
    background-color: black;
    color: white;
    transition: 0.3s;
}

#submit:hover{
    background-color: gray;
    border: 1px solid rgba(0,0,0,0);
}

footer{
    background-color: black;
    color: white;
    width: 100vw;
    padding: 80px;
    text-align: center;

}

footer span{
    display: inline;
    font-family: Ngaan;
}